// app.component.scss
/* Variables */
$primary-color: #FF4E45;
$secondary-color: #2D3647;
$text-color: #666;

/* Base Styles */
.truswitch-container {
  font-family: 'Poppins', sans-serif;
  color: $text-color;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
  background: #FFFFFF;
  box-shadow: 0px 2px 40px 6px rgba($secondary-color, 0.07);
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

  .navbar-left {
    display: flex;
    align-items: center;

    .logo-img {
      height: 41px;
      margin-right: 8px;
    }

    .logotext-img {
      height: 32px;
    }
  }

  .navbar-right {
    margin-right: 100px;

    a {
      font-weight: 500;
      font-size: 18px;
      color: $secondary-color;
      font-family: "Poppins";
      margin-left: 2rem;
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        color: $primary-color;
      }
    }
  }
}


.fixed-height-carousel {
  height: 660px;
}

.fixed-height-carousel .carousel-inner,
.fixed-height-carousel .carousel-item,
.fixed-height-carousel .container,
.fixed-height-carousel .row {
  height: 100%;
}

.object-fit-cover {
  object-fit: cover;
}

.hero {
  background-color: #fff;
  position: relative;
  top: -50px;
  padding: 30px 0;

  .carousel-item {
    margin: 0 75px;
  }

  .hero-content {
    padding: 40px;

    .lead-header {
      //   margin-bottom: 20px;
      font-family: "Poppins";
      font-weight: 600;
      font-size: 30px;
      letter-spacing: 0px;
      color: #2D3647;

    }

    .lead {
      margin-bottom: 30px;
      font-family: "Montserrat";
      font-weight: 400;
      // font-size: 22px;
      font-size: 23px;
      letter-spacing: -0.25px;
      color: #2D3647;

    }
  }

  .cta-section {
    margin-top: 30px;

    .ready-text {
      margin-bottom: 15px;
      color: $secondary-color;
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 22px;
      color: #2D3647;

    }
  }

  .btn-join {
    background-color: $primary-color;
    font-family: "Poppins";
    color: #FFFFFF;
    border: none;
    padding: 10px 52px;
    font-weight: 500;
    border-radius: 1000px;
    transition: all 0.3s ease;
    margin-top: 50px;
    gap: 10px;
    font-size: 22px;



    &:hover {
      background-color: darken($primary-color, 10%);
      transform: translateY(-2px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }
}

.carousel-indicators {
  margin-bottom: -48px;
  button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #FF4E45;
    border: none;
    padding: 0;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease;

    &.active {
      background-color: transparent;
      border: 2px solid #FF4E45;
      width: 16px;
      height: 16px;

      box-sizing: border-box;
    }
  }
}

.carousel-control-next-icon {
  display: none;
}

#joinModal .modal-content {
  border-radius: 20px;
  border: none;
  box-shadow: 0px 2px 40px 6px #00000012;
  padding: 30px;

}

#joinModal .modal-header {
  border-bottom: none;
  padding: 1.5rem;
}

#joinModal .modal-title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 0px;
  color: #2D3647;


}

#joinModal .modal-body {
  margin: 0 25px;
  padding: 2rem;
}

#joinModal .modal-footer {
  border: none;
}

#joinModal .form-label {
  // font-family: "Montserrat";
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #2D3647;

}

#joinModal .form-control {
  border-radius: 8px;
  padding: 10px 12px;
  background: #F6F6F6;
  border: none;
  height: 50px;
  margin-left: -2px;

}

#joinModal .form-control::placeholder {
  color: #8F8F8F;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.25px;
  // opacity: 1;
}

#joinModal .btn-submit {
  color: #FFFFFF;
  border: none;
  text-align: center;
  border-radius: 1000px;
  position: relative;
  bottom: 50px;
  right: 80px;
  float: right;
  background: #FF4E45;
  width: 140px;
  height: 55px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;

}

#joinModal .btn-close {
  background: transparent;
  color: #FF4E45 !important;
  font-size: 20px;
  font-weight: 900;
  opacity: 1;
  box-shadow: none;
  position: relative;
  bottom: 20px;
}



#joinModal .btn-close::before {
  content: "✕";
  display: block;
  line-height: 1;
}

#joinModal .btn-close {
  background-image: none !important;
}

input.form-control {
  box-shadow: none !important;
  outline: none !important;
  transition: none;

  &:hover,
  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
}

// product Styles


.products-container {
  background: #f8f8f8;
}

.products-title {
  position: relative;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0px;
  color: #2D3647;


}


.Product-title-border {
  margin-top: -15px;
  margin-right: 387px;
  width: 436px;
  height: 10px;
}

.Product-details {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.25px;

}


.image-box {
  // background: #ffffff;
  padding: 30px;
  position: relative;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -90px;
}

.img-scooter {
  width: 700px;
  height: 700px;
  position: absolute;
  right: 185px;
  bottom: -60px;
}

.img-bike {
  width: 600px;
  height: 600px;
  position: absolute;
  bottom: 65px;
  left: 240px;
}

.feature-list {
  li {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -0.25px;
    margin-bottom: 1rem;
    color: #2D3647;
  }
}






.bg-dark {
  background-color: #2D3647 !important;
}

.metrics-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 50px;
  color: #ffffff;
  margin-left: 50px;
  margin-bottom: 40px;
}

.metric-number {
  color: rgba(17, 215, 164, 0.95);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0px;
  // margin-bottom: 10px;
  margin: 0 35px 10px;
}

.metric-label {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  text-align: left;
  margin: 0 38px;
}

.image-box1 {
  padding: 30px;
  position: relative;
  height: 486px;
}

.img-mobile {

  width: 785px;
  height: 815px;
  position: absolute;
  bottom: -150px;
  left: 17px;
}


.bg-dark {
  background-color: #2D3647 !important;
}


.Appmetric-number {
  color: rgba(17, 215, 164, 0.95);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 5px;
  text-align: left;


}

.Appmetric-label {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  text-align: left;


}

// partners styles




.partner-section {
  background-color: #f9f9f9 !important;
  padding-top: 100px;

  .partners-title {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #2D3647;


  }

  .tab-buttons {
    margin-left: 97px;
    margin-top: -25px;
  }

  .tab-btn {
    color: #2D3647;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    border-radius: 10px;
    border: none !important;
    padding: 14px 38px;
    transition: all 0.2s ease-in-out;
    background: #FFFFFF;
    width: 298px;
    height: 60px;
    gap: 10px;
    box-shadow: 0px 2px 40px 6px #00000012;


    &:focus {
      border: none;
    }

    &.active {
      color: #ff4d4f;
      border: none;
    }
  }

  .Commercial-imgbox {
    background: #ffffff;
    padding: 30px;
    height: 486px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 690px;
    margin-left: -60px;

  }

  .Commercial-content-title {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0px;
    color: #2D3647;

  }

  .Commercial-content {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -0.25px;
    color: #2D3647;


  }

  .btn-gradient {
    background: #FF4E45;
    color: #FFFFFF;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    border: none;
    transition: all 0.3s ease;
    width: 263px;
    height: 65px;
    gap: 10px;
    border-radius: 1000px;
    padding: 10px 52px;

  }

  .btn-gradient:hover {
    // transform: translateY(-2px);
  }

  .rounded {
    border-radius: 12px !important;
  }
}

// pricing Style
.pricing-container {
  background-color: #fff;
  padding-top: 100px;
}

.pricing-header {
  position: relative;

  .pricing-title {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0px;
    color: #2D3647;

  }

  .underline-img {
    position: absolute;
    width: 190px;
    top: 60px;
    left: -21px;
  }
}

.img-fluid {
  max-width: 95%;
  height: auto;
}


.plan-box {
  display: inline-block;
  margin-top: -140px;
}

.price-left-content {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.25px;

}



.custom-price-card {
  background: #FFFFFF;
  width: 675px;
  height: 500px;
  border-radius: 20px;
  padding: 54px 48px;
  box-shadow: 0px 2px 40px 6px #00000012;
  margin-top: -60px;

  .price-card-details {
    padding: 5px 0;
    border-bottom: 0.5px solid #DADADA;

    .price-details {
      font-family: "Poppins";
      font-weight: 500;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: 0px;

    }

    .price-subdetails {
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: -0.25px;


    }
  }


  .price {
    color: #000;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 1px;
    text-align: right;
    margin: 0 40px;

  }

  .price-member {
    display: block;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: right;

  }

  button.btn-danger {
    background: #FF4E45;
    color: #FFFFFF;
    border: none;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    width: 180px;
    height: 60px;
    gap: 10px;
    border-radius: 1000px;
    padding-top: 10px;
    padding-right: 52px;
    padding-bottom: 10px;
    padding-left: 52px;
    float: right;



  }
}

//buynowmodel model Style

#buyNowModal .modal-content {
  border-radius: 20px;
  border: none;
  box-shadow: 0px 2px 40px 6px #00000012;
  padding: 30px;

}

#buyNowModal .modal-header {
  border-bottom: none;
  padding: 1.5rem;
}

#buyNowModal .modal-title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 0px;
  color: #2D3647;


}

#buyNowModal .modal-body {
  margin: 0 25px;
  padding: 2rem;
}

#buyNowModal .modal-footer {
  border: none;
}


#buyNowModal .form-label {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #2D3647;

}

#buyNowModal .form-control {
  border-radius: 8px;
  padding-top: 10px;
  padding-right: 12px;
  padding-bottom: 10px;
  padding-left: 12px;
  background: #F6F6F6;
  color: #8F8F8F;
  text-align: left !important;
  border: none;
  height: 40px;
  width: 90px;
}

#buyNowModal .form-control::placeholder {
  color: #8F8F8F;
  opacity: 1;
}

// #buyNowModal .form-check-input:checked {
//   background-color: #FF4E45 !important;
//   border-color: #FF4E45 !important;
// }

#buyNowModal .form-check-input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #8F8F8F; 
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: border 0.2s ease;
  background-color: #fff;
}

#buyNowModal .form-check-input[type="radio"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #FF4E45; 
  transition: transform 0.2s ease;
}

#buyNowModal .form-check-input[type="radio"]:checked {
  border-color: #FF4E45; /* active border */
}

#buyNowModal .form-check-input[type="radio"]:checked::before {
  transform: translate(-50%, -50%) scale(1);
}




#buyNowModal .btn-submit {
  color: #FFFFFF;
  border: none;
  text-align: center;
  border-radius: 1000px;
  position: relative;
  left: 165px;
  background: #FF4E45;
  width: 140px;
  height: 55px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;

}

#buyNowModal .btn-close {
  background: transparent;
  color: #FF4E45 !important;
  font-size: 20px;
  font-weight: 900;
  opacity: 1;
  box-shadow: none;
  position: relative;
  bottom: 40px;
}

#buyNowModal .btn-close:hover {
  color: #e04138 !important;
}

#buyNowModal .btn-close::before {
  content: "✕";
  display: block;
  line-height: 1;
}

#buyNowModal .btn-close {
  background-image: none !important;
}

input.form-control,
.form-check-input {
  box-shadow: none !important;
  outline: none !important;
  transition: none;

  &:hover,
  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
}

.form-wrapper {
  margin: 0 auto;
}

.buyNowModal-text {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #2D3647;

}


// f&q

.faq-title {
  position: relative;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 75px;
  color: #2D3647;

  .title-underline {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 45px;
    width: 185px;
  }
}

.custom-tab-buttons .tab-btn {
  width: 298px;
  height: 60px;
  border-radius: 10px;
  gap: 10px;
  padding-top: 14px;
  padding-right: 38px;
  padding-bottom: 14px;
  padding-left: 38px;
  background: #FFFFFF;
  box-shadow: 0px 2px 40px 6px #00000012;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;

  border: none;
  transition: all 0.3s ease;
}

.custom-tab-buttons .tab-btn.active {
  color: #FF4E45;
  background-color: white;
  box-shadow: 0px 2px 40px 6px #00000012;

}

.accordion-button::after {
  display: none !important;
}

.accordion-button {
  position: relative;
  font-weight: 500;

  .toggle-icon {
    transition: transform 0.2s ease;
  }
}

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  box-shadow: none !important;
}

.accordion-button:focus {
  background-color: transparent !important;
  box-shadow: none !important;
}

.accordion-button:hover {
  background-color: transparent !important;
  box-shadow: none !important;
}

.accordion {
  border: none;
  --bs-accordion-bg: transparent;
  background-color: transparent;
}

.accordion-button {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.25px;


}

.accordion-body {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.25px;
  color: #2D3647;

}

.accordion-item:first-of-type,
.accordion-item:last-of-type {
  border-radius: 0 !important;
}

.accordion-item {
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 15px;
}
.img-questions{
  
    width: 500px;
    height: 600px;
    // position: absolute;
    // bottom: -50px;
    // left: 17px;
    margin: -110px 0;


}
.footer-container {
  background: #1C2028;
  height: 362px;
  top: 6702px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 62px 110px;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-left {
  flex: 1;
  min-width: 300px;

}

.logo {
  margin-bottom: 15px;
}

.logo-text {
  color: #f04438;
  font-weight: 600;
  font-size: 20px;
}

.footer-description {
  font-family: "Montserrat";
  font-weight:600;
  font-size: 21px;
  line-height: 30px;
  letter-spacing: -0.25px;
  width: 350px;
  color: #FFFFFF;
  margin-top: 38px;

}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 25px;
  min-width: 150px;
  margin: -5px 160px;
}

.footer-links a {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer-links a:hover {
  color: #f04438;
}

.footer-social {
  display: flex;
  gap: 55px;
  align-items: center;
}

.footer-social a {
  color: #FFFFFF;

}

.footer-social a:hover {
  color: #f04438;
}

.footer-bottom {
  text-align: right;
  // margin-right: 28px;
  margin-top: 40px;
  font-size: 14px;
  color: #aaa;
}



.required-asterisk::after {
  content: " *";
  color: red;
}

.icon-adjust{
  margin-top: -5px;
}

// responsive styles

// carousel Styles

@media (max-width: 768px) {
  .fixed-height-carousel {
    height: auto;
  }

  .hero {
    top: 0;

    .carousel-item {
      margin: 0;
    }

    .hero-content {
      padding: 20px;

        .float-end {
    width: 100px;
    margin-right: 110px !important;
  }
      .lead-header {
        font-size: 24px;
        font-weight: 500;
        text-align: left;
      }

      .lead {
        font-size: 14px;
        text-align: left;
      }
    }

    .cta-section {
      text-align: left;

      .ready-text {
        font-size: 14px;
      }

      .btn-join {
        margin: 20px 0;
        padding: 8px 30px;
        font-size: 18px;
      }
    }
  }

  .carousel-inner .row {
    flex-direction: column-reverse;
    text-align: center;
  }

  .carousel-item img {
    width: 100% !important;
    max-width: 300px;
    margin: 0 auto 20px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }

  .carousel-indicators {
    bottom: 40px;
    
  }


  // Products Section

   .products-title {
    font-size: 26px;
    line-height: 36px;
    text-align: center;
  }

  .Product-details {
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    width: 90% !important;
  }

  .Product-title-border {
    margin: -20px auto;
    float: none !important;
    display: block;
    width: 200px;
    height: 8px;
        img{
      width: 230px;
      margin: 0 25px;
    }
  }
    .image-box{
    margin-top: -150px;
  }

  .image-box,
  .image-box1 {
    margin-left: 0;
    text-align: center;
    padding: 10px;
    height: auto;
  }
  

   .img-scooter{
        width: 100%;
    height: auto;
    position: relative;
    right: auto;
    left:45px;
    bottom: 0;

  }


    .img-bike{
        width: 100%;
    height: auto;
    position: relative;
    bottom: 70px;
    left: auto;
    right: 75px;

  }
  

  .img-mobile {
    width: 100%;
    height: auto;
    position: relative;
    bottom: auto;
    left: auto;
    right: auto;
  }

  .feature-list li {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0.75rem;
    text-align: left;
  }

    .mobile-feature-list li{
    margin: 0 27px;
  }

  .metrics-heading {
    font-size: 22px;
    margin-left: 0;
    text-align: start;
    margin: 0 107px 30px;

  }

    .Appmetrics-heading {
    font-size: 20px;
    text-align: start;
    margin: 0 62px 30px ;
  }

   .metric-number {
    font-size: 30px;
    text-align: start;
    margin-bottom: 5px;
  }
  .Appmetric-number {
    font-size: 30px;
    text-align: left;
    margin-bottom: 5px;
  }

  .metric-label{
    font-size: 16px;
    text-align: center;
    margin-bottom: 15px;
  }
    .Appmetric-label {
    font-size: 14px;
    line-height: 20px;
    text-align: start;
    // margin: 0 38px 15px;
  }
  .bg-dark .row {
    text-align: center;
  }

  .col-6,
  .col-4 {
    width: 50%;
    padding: 0 70px;
  }

  b.text-end {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    text-align: center !important;
    margin-left: 0 !important;
  }


  //Partners Styles


   .partner-section {
    padding-top: 100px;
  }

  .partners-title h2 {
    font-size: 26px;
    line-height: 34px;
    text-align: center;
  }

  .partners-title .float-end {
    float: none !important;
    // margin: 10px auto;
    margin: 10px 45px;
    text-align: center;
  }

  .partners-title .float-end img {
     width: 100px !important;
    margin: 10px 5px;
    // display: block;
  }



    .tab-buttons {
    flex-wrap: nowrap;
    position: relative;
    top: 50px;
    right: 165px;
    margin-top: 15px !important;
    margin-left: 30px !important;
  }



  .tab-btn {
    font-size: 12px !important;
    padding: 10px 18px !important;
    // padding: 14px 38px !important;
    width: 250px !important;
    white-space: nowrap;
    border-radius: 4px !important;
  }

  .Commercial-imgbox {
   margin: 20px auto !important;
    width: 500px;
    padding: 0;
    background: none;
    height: auto !important;
  }

  .Commercial-imgbox img {
    width: 100%;
    max-height: 350px;
    height: auto;
    border-radius: 12px;
  }

  .Commercial-content-title {
    font-size: 24px !important;
    line-height: 34px;
    text-align: left;
    width: 75vw;
  }

  .Commercial-content {
    font-size: 16px  !important;
    line-height: 26px  !important;
    text-align: left;
    // padding: 0 20px;
    width: 75vw;
  }

  .cta-section {
    text-align: center;
    margin-top: 20px;
  }

  .btn-gradient {
    font-size: 18px !important;
    padding: 10px 28px !important;
    width: 260px !important;
    height: auto;
    border-radius: 1000px !important;  
    margin: 0 160px;
  }

  //Footer Styles

   .footer-container {
    padding: 40px 40px;
    height: auto;
  }

  .footer-content {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  .footer-left {
    flex-direction: column;
    gap: 20px;
  }


  .footer-links {
  display: grid;
  grid-template-columns: repeat(2, auto); 
  column-gap: 20px; 
  row-gap: 15px;    
  margin: 0;
}

  .footer-description {
    font-size: 18px;
    line-height: 26px;
    width: 100%;
    margin-top: 20px;
  }

  .footer-social {
    gap: 30px;
    margin-top: 30px;
  }

  .footer-bottom {
    text-align: center;
    margin-top: 40px;
    width: 100%;
  }

 
}


@media (max-width: 575.98px) {
  
  .hero .hero-content .lead-header {
     font-size: 24px;
        font-weight: 500;
  }

  .hero .hero-content .lead {
    font-size: 16px;
  }

  .hero .cta-section .btn-join {
    padding: 8px 25px;
    font-size: 16px;
  }

  .carousel-item img {
    max-width: 250px;
  }
     .hero .hero-content .float-end {
    width: 100px;
    margin-right: 150px !important;
  }


  // Product Sections

  .products-title {
    font-size: 22px;
    line-height: 32px;
    text-align: center;
  }

  .Product-details {
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    width: 95% !important;
    // margin-left: auto;
    // margin-right: auto;
  }

  .Product-title-border {
    margin: -20px auto;
    float: none !important;
    display: block;
    width: 180px;
    height: 6px;

    img{
      width: 230px;
      margin: 0 -5px;
    }
  }

  .image-box{
    margin-top: -150px;
  }
  .image-box,
  .image-box1 {
    padding: 0;
    height: auto;
    margin-left: 0;
    text-align: center;
  }

  .img-scooter{
        width: 100%;
    height: auto;
    position: relative;
    left: auto;
    right: auto;
    left:60px;

  }


    .img-bike{
        width: 100%;
    height: auto;
    position: relative;
    bottom: 70px;
    left: auto;
    right: 75px;

  }
  

  .img-mobile {
    width: 100%;
    height: auto;
    position: relative;
    bottom: auto;
    left: auto;
    right: auto;
  }

  .feature-list li {
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    // margin-bottom: 0.6rem;
    margin: 0 -25px;
        .icon-adjust {
    margin-top: -15px;
  }
  }
  .mobile-feature-list li{
    margin: 0 17px;
  }


    .metrics-heading{
    font-size: 20px;
    text-align: start;
    margin: 0 45px 30px;
  }
  .Appmetrics-heading {
    font-size: 20px;
    text-align: start;
    margin: 0 38px 30px ;
  }

  .metric-number {
    font-size: 26px;
    text-align: start;
    margin-bottom: 5px;
  }

    .metric-label {
    font-size: 14px;
    line-height: 20px;
    text-align: start !important;
    margin: 0 38px 15px;
  }

  .Appmetric-number {
    font-size: 26px;
    text-align: start;
    margin: 0 38px 5px;
  }
  .Appmetric-label {
    font-size: 14px;
    line-height: 20px;
    text-align: start;
    margin: 0 38px 15px;
  }

  .col-6,
  .col-4 {
    width: 50%;
    padding: 0 10px;
    // padding: 0 70px;
  }

  b.text-end {
    display: block;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 0 !important;
  }

  //Partners Style


    .partner-section {
    padding: 100px 15px;
  }

  .partners-title h2 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
  }

  .partners-title .float-end {
    float: none !important;
    margin: 0;
  }

  .partners-title .float-end img {
    width: 100px !important;
    margin: 10px 5px;
    // display: block;
  }

  .tab-buttons {
    flex-wrap: nowrap;
    position: relative;
    top: 50px;
    right: 165px;
    margin-top: 15px !important;
    margin-left: 30px !important;
  }

  .tab-btn {
    font-size: 12px !important;
    padding: 10px 18px !important;
    // padding: 14px 38px !important;
    width: 250px !important;
    white-space: nowrap;
    border-radius: 4px !important;
  }

  .Commercial-imgbox {
    margin: 20px auto !important;
    width: 500px;
    padding: 0;
    background: none;
    height: auto !important;
  }

  .Commercial-imgbox img {
    width: 100% !important;
    height: auto;
    border-radius: 12px;
  }

  .Commercial-content-title {
    width: 90%;
    font-size: 20px !important;
    font-weight: 500 !important;
    line-height: 28px !important;
    text-align: start;
    margin-bottom: 16px;

  }

  .Commercial-content {
    font-size: 14px !important;
    line-height: 24px !important;
    text-align: left !important;
    color: #2D3647;
    padding: 0;
    width: 90%;
  }

  .cta-section {
    margin-top: 24px;
    text-align: center;
  }

  .cta-section .Commercial-content {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
  }

  .btn-gradient {
    font-size: 16px !important;
    width: 100%;
    max-width: 280px;
    padding: 12px 20px !important;
    border-radius: 50px;
    background-color: #ff4d4f !important;
    color: white !important;
    border: none !important;
  }


  //Footer Styles

    .footer-container {
    padding: 30px 20px;
    border-radius: 0;
  }

  .footer-content {
    flex-direction: column;
    gap: 30px;
  }

  .logo {
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
  }

  .logotext-img {
    width: 150px !important;
    height: auto !important;
    margin-left: 0 !important;
  }

  .footer-links {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin: 0;
  }

  .footer-links a {
    font-size: 18px;
  }

  .footer-description {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    margin-top: 16px;
  }

  .footer-social {
    gap: 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .footer-bottom {
    text-align: center;
    font-size: 13px;
  }

//   .logo {
//         justify-content: center;
//         position: relative;
//         right: 11px;
//     }
//   //footer style

//   .footer-description {
//     font-size: 16px;
//     line-height: 24px;
//     text-align: left;
//     margin-right: 25px;
//     position:relative;
//     right:2px;
//   }

// .footer-links {
//     display: grid;
//     grid-template-columns: repeat(2, auto);
//     justify-content: center;
//     gap: 20px 50px; /* vertical gap, horizontal gap */
//     margin: 30px 0;
//     text-align: left;
//     position: relative;
//     top: 160px;
//     right:295px;
//   }

//   .footer-links a {
//     font-size: 18px;
//   }
//   .footer-social {
//     justify-content: center;
//     gap: 52px;
//     margin-top: 115px;
//     flex-wrap: wrap;
//     position: relative;
//     right: 65px;
//     }

//   .footer-social img {
//     width: 28px !important;
//     height: 28px !important;
//   }

}


