<div class="truswitch-container">

  <header class="navbar">
    <div class="navbar-left">
      <img src="assets/images/logo.svg" alt="Truswitch Logo" class="logo-img" />
      <img src="assets/images/logotext.svg" alt="Truswitch LogoText" class="logotext-img" />
    </div>
    <nav class="navbar-right">
      <a routerLink="" fragment="products">Products</a>
      <a routerLink="" fragment="partners">Partners</a>
      <a routerLink="" fragment="pricing">Pricing</a>
      <a routerLink="" fragment="faq">FAQ</a>
    </nav>
  </header>

  <!-- Hero Carousel -->
  <section class="hero">
    <div id="truswitchCarousel" class="carousel slide fixed-height-carousel" data-bs-ride="carousel"
      data-bs-pause="false">
      <div class="carousel-inner">
        <!-- Slide 1 -->
        <div class="carousel-item active">
          <div class="container ">
            <div class="row align-items-center justify-content-center h-100">
              <div class="col-md-6">
                <div class="hero-content">
                  <p class="lead-header">Thinking about getting an electric bike but worried about charging?</p>
                  <div class="float-end" style="margin-top: -10px; margin-right: 15px;">
                    <img src="../../../assets/images/lineargreen.svg" alt="">
                  </div>
                  <p class="lead" style="margin-top: 75px;">
                    With our Wi-Fi controlled switch, you can activate 5 or 15 amp socket within your society.
                    This enables your society to track your power usage details and include the usage cost in
                    your monthly maintenance payments.
                  </p>
                  <div class="cta-section">
                    <p class="ready-text">Ready to make the switch?</p>
                    <button class="btn btn-join" data-bs-toggle="modal" data-bs-target="#joinModal">Join
                      Truswitch</button>
                  </div>
                </div>
              </div>
              <div class="col-md-6  align-items-center">
                <img src="../../../assets/images/slider.png" class="d-block w-75" alt="EV Charging Solution">
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item">
          <div class="container h-100">
            <div class="row align-items-center h-100">
              <div class="col-md-6">
                <div class="hero-content">
                  <p class="lead-header">Concerned about costly rewiring or getting approval from your Society/Apartment
                    Association?</p>
                  <p class="lead">
                    Upgrade to our safe & secure IoT Switch, seamlessly fitting into your existing metal/switch box
                    without the need for rewiring. No more burden of additional cost. If you don’t need it, just replace
                    it with a regular switch. It’s that simple!


                  </p>
                  <div class="cta-section">
                    <button class="btn btn-join" data-bs-toggle="modal" data-bs-target="#joinModal">Join
                      Truswitch</button>

                  </div>
                </div>
              </div>
              <div class="col-md-6  align-items-center">
                <img src="../../../assets/images/Slider2.png" class="d-block w-75" alt="EV Charging Solution">

              </div>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item">
          <div class="container h-100">
            <div class="row align-items-center h-100">
              <div class="col-md-6">
                <div class="hero-content">
                  <p class="lead-header">Struggling with Society restrictions on your electric two-wheeler dreams?</p>
                  <p class="lead">
                    Let’s break through barriers together with our innovative solutions.
                  </p>
                  <p class="lead">
                    Your safe, smart, and simple solution for hassle-free two-wheeler charging in Societies.
                  </p>
                  <div class="cta-section">
                    <button class="btn btn-join" data-bs-toggle="modal" data-bs-target="#joinModal">Join
                      Truswitch</button>

                  </div>
                </div>
              </div>
              <div class="col-md-6 align-items-center">
                <img src="../../../assets/images/Slider3.png" class="d-block w-75" alt="EV Charging Solution">

              </div>
            </div>
          </div>
        </div>

        <!-- Slide 4 -->
        <div class="carousel-item">
          <div class="container h-100">
            <div class="row align-items-center h-100">
              <div class="col-md-6">
                <div class="hero-content">
                  <p class="lead-header">There are no additional charges on power usage; you pay directly to your
                    Society/Association</p>
                  <p class="lead">
                    Users settle their power usage charges with the Society/Association as part of the monthly usage
                    report, and the Society then makes the payment to the respective agency


                  </p>
                  <div class="cta-section">
                    <button class="btn btn-join" data-bs-toggle="modal" data-bs-target="#joinModal">Join
                      Truswitch</button>

                  </div>
                </div>
              </div>
              <div class="col-md-6 align-items-center">
                <img src="../../../assets/images/Slider4.png" class="d-block w-75" alt="EV Charging Solution">

              </div>
            </div>
          </div>
        </div>

        <!-- Slide 5 -->
        <div class="carousel-item">
          <div class="container h-100">
            <div class="row align-items-center h-100">
              <div class="col-md-6">
                <div class="hero-content">
                  <p class="lead-header">Safely Embrace EVs: Eliminate Wire Hazards in Your Parking Lot</p>

                  <p class="lead">
                    As awareness and popularity around electric vehicles (EVs) grow, more residents in your society will
                    likely adopt EVs. Are you prepared to navigate the potential safety risks posed by a tangle of
                    electric wires?
                  </p>
                  <div class="cta-section">
                    <button class="btn btn-join" data-bs-toggle="modal" data-bs-target="#joinModal">Join
                      Truswitch</button>

                  </div>
                </div>
              </div>
              <div class="col-md-6 align-items-center">
                <img src="../../../assets/images/Slider5.png" class="d-block w-75" alt="EV Charging Solution">

              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Carousel Controls -->
      <button class="carousel-control-prev" type="button" data-bs-target="#truswitchCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#truswitchCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

      <!-- Indicators -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#truswitchCarousel" data-bs-slide-to="0" class="active"
          aria-current="true"></button>
        <button type="button" data-bs-target="#truswitchCarousel" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#truswitchCarousel" data-bs-slide-to="2"></button>
        <button type="button" data-bs-target="#truswitchCarousel" data-bs-slide-to="3"></button>
        <button type="button" data-bs-target="#truswitchCarousel" data-bs-slide-to="4"></button>
      </div>
    </div>
  </section>
  <section id="products" class="products-container py-5">

    <div class="container" style="margin-bottom: 100px; margin-top:50px ;">
      <div class="text-center" style="margin-bottom: 60px;">
        <h2 class="products-title  mb-4">Product Description</h2>
        <div class="Product-title-border float-end">
          <img src="../../../assets/images/product-border.svg" alt="" height="10.20661735534668">
        </div>
      </div>
      <p class="Product-details mx-auto mb-5 w-75">
        Truswitch is an intelligent IoT device that replaces your traditional switch, avoiding the need for costly
        rewiring.
        It authenticates users and monitors power consumption, delivering up to 3.3KW output.
        It’s compact (20mm x 50mm x 40mm), and fits perfectly into your switch box.
        Any qualified electrician can install it, and you can set it up in minutes with our easy-to-follow guide.
      </p>

      <div class="row px-5">
        <!-- Left: Image Box -->
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="image-box">
            <img src="../../../assets/images/scooter.png" alt="Scooter" class="img-scooter" />
            <img src="../../../assets/images/Bike.png" alt="Bike" class="img-bike" />
          </div>
        </div>

        <!-- Right: Feature List -->
        <div class="col-md-6">
          <ul class="list-unstyled feature-list align-items-start">
            <li class="d-flex align-items-center mb-3"><i class="fa-solid fa-circle-check  me-2"
                style="color: #06D6A0;"></i> Ensures high safety levels</li>
            <li class="d-flex align-items-center mb-3"><i class="fa-solid fa-circle-check me-2"
                style="color: #06D6A0;"></i> Certified by BIS (Bureau of Indian Standards)
            </li>
            <li class="d-flex align-items-center mb-3"><i class="fa-solid fa-circle-check me-2"
                style="color: #06D6A0; margin-top: -30px;"></i> Automatically shuts off power during high
              voltage/temperature/current situations</li>
            <li class="d-flex align-items-center mb-3"><i class="fa-solid fa-circle-check me-2"
                style="color: #06D6A0; width: 20px; height: 20px;"></i> Automatically cuts power during prolonged usage
            </li>
            <li class="d-flex align-items-center mb-3"><i class="fa-solid fa-circle-check me-2"
                style="color: #06D6A0; width: 20px; height: 20px;"></i> Compatible with all standard sockets</li>
            <li class="d-flex align-items-center mb-3"><i class="fa-solid fa-circle-check me-2"
                style="color: #06D6A0; width: 20px; height: 20px;"></i> Functions with or without internet connectivity
            </li>
            <li class="d-flex align-items-center mb-3"><i class="fa-solid fa-circle-check me-2"
                style="color: #06D6A0; margin-top: -30px;"></i> Mobile app offers various configuration options
              tailored to your society's requirements</li>
          </ul>

        </div>
      </div>
    </div>


    <div class="bg-dark py-5 mb-5">
      <h5 class="metrics-heading">Product Metrics</h5>
      <div class="container-fluid">
        <div class="row text-center justify-content-center">
          <div class="col-md-2 col-6 mb-4">
            <h3 class="metric-number">2000+</h3>
            <p class="metric-label">Truswitches<br>Installed</p>
          </div>
          <div class="col-md-2 col-6 mb-4">
            <h3 class="metric-number">20+</h3>
            <p class="metric-label" style="margin-left: 68px;">Societies<br>Supported</p>
          </div>
          <div class="col-md-2 col-6 mb-4">
            <h3 class="metric-number">8000+</h3>
            <p class="metric-label">Users<br>Supported</p>
          </div>
          <div class="col-md-2 col-6 mb-4">
            <h3 class="metric-number">16,000+</h3>
            <p class="metric-label ms-4">Sessions<br>Completed</p>
          </div>
          <div class="col-md-2 col-6 mb-4">
            <h3 class="metric-number">7000</h3>
            <p class="metric-label" style="margin-left: 57px;">Kwh<br>Output</p>
          </div>
          <div class="col-md-2 col-6 mb-4">
            <h3 class="metric-number">12</h3>
            <p class="metric-label" style="margin-left: 92px;">City<br>Presence</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container" style="margin-bottom: 100px;">
      <div class="text-center" style="margin-bottom: 60px;">
        <h2 class="products-title  mb-4">Mobile App Features</h2>
        <div class="Product-title-border float-end">
          <img src="../../../assets/images/product-border.svg" alt="" height="10.20661735534668">
        </div>
      </div>
      <p class="Product-details mx-auto mb-5 w-75">
        Our mobile app is designed with rich features to cater to
        the needs of both Society Admins and Regular Users.
        Admins can efficiently manage and monitor Truswitchs,
        while Regular Users can experience seamless and
        effortless daily usage.
      </p>

      <div class="row align-items-center">
        <!-- Left: Image Box -->

        <div class="col-md-6">
          <ul class="list-unstyled feature-list align-items-start">
            <li class="d-flex align-items-center mb-3"><i class="fa-solid fa-circle-check  me-2"
                style="color: #06D6A0; "></i> Stop/Start Charging anytime/anywhere</li>
            <li class="d-flex align-items-center mb-3"><i class="fa-solid fa-circle-check me-2"
                style="color: #06D6A0;"></i> Set cut off time for Charging
            </li>
            <li class="d-flex align-items-center mb-3"><i class="fa-solid fa-circle-check me-2"
                style="color: #06D6A0; margin-top: -30px;"></i> Set different rates for Owners/Tenants/Guests
              voltage/temperature/current situations</li>
            <li class="d-flex align-items-center mb-3"><i class="fa-solid fa-circle-check me-2"
                style="color: #06D6A0; margin-top: -30px;"></i> Approval process to allow Guests for charging their
              vehicle
            </li>
            <li class="d-flex align-items-center mb-3"><i class="fa-solid fa-circle-check me-2"
                style="color: #06D6A0;"></i> Monthly Usage report at User & Truswitch level</li>

            <li class="d-flex align-items-center mb-3"><i class="fa-solid fa-circle-check me-2"
                style="color: #06D6A0; margin-top: -30px;"></i> Disable access to Users who have defaulted on
              monthly payment</li>
            <li class="d-flex align-items-center mb-3"><i class="fa-solid fa-circle-check me-2"
                style="color: #06D6A0;"></i> Activate/Deactivate Truswitcht</li>
            <li class="d-flex align-items-center mb-3"><i class="fa-solid fa-circle-check me-2"
                style="color: #06D6A0;"></i> In depth analytics on usage pattern</li>
            <li class="d-flex align-items-center mb-2"><i class="fa-solid fa-circle-check me-2"
                style="color: #06D6A0;"></i> Available on IOS/Android Platforms</li>
          </ul>

        </div>
        <!-- Right: Feature List -->

        <div class="col-md-6 mb-4 mb-md-0">
          <div class="image-box1">
            <img src="../../../assets/images/mobile-tracking.png" alt="Bike" class="img-mobile" />
          </div>
        </div>


      </div>
    </div>

    <div class="bg-dark py-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-3 col-12 mb-4 text-md-start text-center">
            <h5 class="metrics-heading" style="margin-left: 0;">App Metrics</h5>
          </div>
          <div class="col-md-3 col-4 mb-4 text-center">
            <h3 class="Appmetric-number">4000+</h3>
            <p class="Appmetric-label">Android<br>Downloads</p>
          </div>
          <div class="col-md-3 col-4 mb-4 text-center">
            <h3 class="Appmetric-number">2000+</h3>
            <p class="Appmetric-label">IOS<br>Downloads</p>
          </div>
          <div class="col-md-3 col-4 mb-4 text-center">
            <h3 class="Appmetric-number">4.2</h3>
            <p class="Appmetric-label">Average<br>Rating</p>
          </div>
        </div>
      </div>
    </div>


  </section>

  <section id="partners" class="section">


    <div class="partner-section pb-5 px-3 px-md-5 bg-light">
      <!-- Title and Tabs -->
      <div class="d-flex align-items-center gap-4 mb-5">
        <div class="partners-title">
          <h2 class="mb-0">Partners</h2>
          <div class="float-end" style="margin-top: -10px; margin-right: 15px;">
            <img src="../../../assets/images/lineargreen.svg" alt="" style="width: 185px;" />
          </div>
        </div>
        <div class="tab-buttons d-flex gap-2">
          <button class="btn tab-btn" [ngClass]="{ active: selectedTab === 'commercial' }"
            (click)="switchTab('commercial')">
            Commercial outlets
          </button>
          <button class="btn tab-btn" [ngClass]="{ active: selectedTab === 'workplace' }"
            (click)="switchTab('workplace')">
            Workplaces
          </button>
        </div>
      </div>

      <!-- Content Area -->
      <div class="container my-5">
        <div class="row align-items-center" *ngIf="selectedTab === 'commercial'">
          <div class="col-md-6 text-center Commercial-imgbox">
            <img src="assets/images/gym.png" class="img-fluid rounded" alt="Commercial charging solution"
              style="max-height: 400px; width: auto" />
          </div>

          <div class="col-md-6 ms-4">
            <h2 class="mb-4 Commercial-content-title">Provide charging convenience to your customers</h2>
            <p class="mb-4 Commercial-content">
              As the demand for EV vehicles continues to rise, customers may soon inquire about charging ports at your
              shop.
              You can accommodate them by enabling your 5 amp/16 amp socket with our Truswitch, offering charging
              convenience to your customers. Not only does this provide added convenience, but you can also track the
              power
              consumed by your customers and receive direct payment from them.
            </p>
            <div class="cta-section">
              <p class="Commercial-content mb-3">Ready to make the switch?</p>
              <button class="btn btn-gradient rounded-pill" data-bs-toggle="modal" data-bs-target="#joinModal">
                Join Truswitch
              </button>
            </div>
          </div>
        </div>

        <div class="row align-items-center" *ngIf="selectedTab === 'workplace'">
          <div class="col-md-6 text-center Commercial-imgbox" style="height: 800px;">
            <img src="../../../assets/images/office-pana.png" class="img-fluid rounded"
              alt="Workplace charging solution" style="height: 600px; width: auto" />
          </div>

          <div class="col-md-6 ms-4">
            <h2 class="mb-4 Commercial-content-title">Empower your workplace </h2>
            <p class="mb-4 Commercial-content">
              Empower Your Employees with Convenient EV Charging at Work
              As electric two-wheelers continue to gain popularity, employees are increasingly expecting accessible
              charging options at their workplace. With TruSwitch, employers can easily convert existing 5A or 16A
              sockets into smart EV charging points — without the need for costly rewiring or infrastructure changes.
              This allows organizations to offer convenient charging in their parking areas while tracking individual
              power consumption through the TruSwitch mobile app. Employees can pay directly for the electricity they
              use, making the system both transparent and hassle-free. By enabling EV charging at work, companies not
              only promote green mobility and sustainability but also enhance employee satisfaction — all with a simple,
              low-investment solution that can be deployed in minutes.


            </p>
            <div class="cta-section">
              <p class="Commercial-content mb-3">Make your workplace EV-ready in minutes — TruSwitch makes it easy.</p>
              <button class="btn btn-gradient rounded-pill" data-bs-toggle="modal" data-bs-target="#joinModal">
                Join Truswitch
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>


  <section id="pricing" class="section">
    <div class="pricing-container px-5 ">
      <div class="pricing-header  mb-4">
        <h2 class="pricing-title">Pricing</h2>
        <img src="../../../assets/images/lineargreen.svg" alt="underline" class="underline-img" />
      </div>

      <div class="row">
        <!-- Left Column -->
        <div class="col-md-6">
          <p class="mt-5 price-left-content">
            Our pricing is based on an Annual Subscription model. Users are charged for accessing the platform,
            independent of their electricity consumption.
            The Society/Association collects a fee from users corresponding to their electricity usage, which is
            subsequently paid directly to the respective agency as part of their electricity billing cycle.
          </p>
          <div class="pricing-plans">
            <div class="plan-box">
              <img src="../../../assets/images/price-image.png" alt="Pricing Plans" class="img-fluid" />
            </div>
          </div>
        </div>

        <!-- Right Column -->
        <div class="col-md-6">

          <div class="ms-5 custom-price-card">
            <div class="price-card-details d-flex justify-content-between mb-3">
              <div>
                <p class="price-details m-0 ">Device Cost</p>
                <p class="price-subdetails mb-3">One-Time</p>
              </div>
              <p class="price">₹ 999</p>
            </div>
            <div class="price-card-details d-flex justify-content-between mb-3">
              <div>
                <p class="m-0 price-details">Installation Cost</p>
                <p class="price-subdetails">One-time, Available in few cities</p>
              </div>
              <p class="price">₹ 399</p>
            </div>
            <div class="price-card-details d-flex justify-content-between">
              <div>
                <p class="m-0 price-details">Subscription Cost</p>
                <p class="price-subdetails">Annual</p>
              </div>
              <p class="price">₹ 299 <span class="price-member">/user</span></p>
            </div>

            <div class="mt-4">
              <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#buyNowModal">Buy now</button>

            </div>
          </div>

        </div>
      </div>
    </div>



  </section>



  <section id="faq" class="section" style="background-color: #F8F8F8;">

    <div class="container pb-5" style="padding-top:100px;">
      <div class="faq-title">
        <h2>FAQ</h2>
        <img src="../../../assets/images/lineargreen.svg" alt="" class="title-underline" />
      </div>

      <!-- Tabs -->
      <div class="custom-tab-buttons d-flex justify-content-center gap-3 mb-5">
        <button type="button" class="tab-btn" [class.active]="activeFaqTab === 'society'"
          (click)="activeFaqTab = 'society'">Society admin</button>
        <button type="button" class="tab-btn" [class.active]="activeFaqTab === 'users'"
          (click)="activeFaqTab = 'users'">Users</button>
        <button type="button" class="tab-btn" [class.active]="activeFaqTab === 'partners'"
          (click)="activeFaqTab = 'partners'">Partners/Employers</button>
      </div>

      <div class="row">
        <!-- Left: Image Box -->

        <div class="col-md-8">
          <!-- Society Admin FAQ -->
          <div class="accordion" id="faqAccordion" *ngIf="activeFaqTab === 'society'">
            <div class="accordion-item" *ngFor="let item of societyFaq; let i = index">
              <h2 class="accordion-header" [attr.id]="'heading' + i">
             
                <button class="accordion-button collapsed d-flex justify-content-between align-items-center"
                  type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i" aria-expanded="false"
                  [attr.aria-controls]="'collapse' + i" (click)="toggleAccordion('collapse' + i)">
                  {{ item.question }}

                  <span class="toggle-icon ms-auto">
                    <img [src]="isAccordionOpen === 'collapse' + i 
              ? '../../../assets/images/wronglogo.svg' 
              : '../../../assets/images/pluslogo.svg'" alt="Toggle Icon" width="16" height="16">
                  </span>
                </button>

              </h2>
              <div [id]="'collapse' + i" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading' + i"
                data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                  {{ item.answer }}
                </div>
              </div>
            </div>
          </div>

          <!-- Users FAQ -->
          <div class="accordion" id="faqAccordionUsers" *ngIf="activeFaqTab === 'users'">
            <div class="accordion-item" *ngFor="let item of usersFaq; let i = index">
              <h2 class="accordion-header" [attr.id]="'uheading' + i">
                <button class="accordion-button collapsed d-flex justify-content-between align-items-center"
                  type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#ucollapse' + i" aria-expanded="false"
                  [attr.aria-controls]="'ucollapse' + i" (click)="toggleAccordion('ucollapse' + i)">
                  {{ item.question }}
                  <!-- <span class="toggle-icon ms-auto">{{ isAccordionOpen === 'ucollapse' + i ? '×' : '+' }}</span> -->

                  <span class="toggle-icon ms-auto">
                    <img
                      [src]="isAccordionOpen === 'ucollapse' + i ? '../../../assets/images/wronglogo.svg' : '../../../assets/images/pluslogo.svg'"
                      alt="Toggle Icon" width="16" height="16">
                  </span>

                </button>
              </h2>
              <div [id]="'ucollapse' + i" class="accordion-collapse collapse" [attr.aria-labelledby]="'uheading' + i"
                data-bs-parent="#faqAccordionUsers">
                <div class="accordion-body">
                  {{ item.answer }}
                </div>
              </div>
            </div>
          </div>

          <!-- Partners FAQ -->
          <div class="accordion" id="faqAccordionPartners" *ngIf="activeFaqTab === 'partners'">
            <div class="accordion-item" *ngFor="let item of partnersFaq; let i = index">
              <h2 class="accordion-header" [attr.id]="'pheading' + i">
                <button class="accordion-button collapsed d-flex justify-content-between align-items-center"
                  type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#pcollapse' + i" aria-expanded="false"
                  [attr.aria-controls]="'pcollapse' + i" (click)="toggleAccordion('pcollapse' + i)">
                  {{ item.question }}
                  <!-- <span class="toggle-icon ms-auto">{{ isAccordionOpen === 'pcollapse' + i ? '×' : '+' }}</span> -->
                  <span class="toggle-icon ms-auto">
                    <img
                      [src]="isAccordionOpen === 'pcollapse' + i ? '../../../assets/images/wronglogo.svg' : '../../../assets/images/pluslogo.svg'"
                      alt="Toggle Icon" width="16" height="16">
                  </span>
                </button>
              </h2>
              <div [id]="'pcollapse' + i" class="accordion-collapse collapse" [attr.aria-labelledby]="'pheading' + i"
                data-bs-parent="#faqAccordionPartners">
                <div class="accordion-body">
                  {{ item.answer }}
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- Right: Feature List -->

        <div class="col-md-4 mb-4 mb-md-0">
          <div class="image-box1">
            <img src="../../../assets/images/frequencyquestions.png" alt="Bike" class="img-questions" />
          </div>
        </div>


      </div>


    </div>

  </section>

  <footer class="footer-container">
    <div class="footer-content">
      <div class="footer-left d-flex">
        <div>
          <div class="logo">
            <img src="assets/images/logo.svg" alt="Truswitch Logo" class="logo-img" />
            <img src="assets/images/logotext.svg" alt="Truswitch LogoText" class="logotext-img "
              style="width: 192.73px;height: 33.44px; margin-left: 15px;" />
          </div>
          <p class="footer-description">
            Lorem ipsum dolor sit amet,<br />
            consectetur adipiscing elit,<br />
            sed do eiusmod tempor<br />
            incididunt ut labore et dolore
          </p>
        </div>
        <div class="footer-links">
          <a routerLink="" fragment="products">Products</a>
          <a routerLink="" fragment="partners">Partners</a>
          <a routerLink="" fragment="pricing">Pricing</a>
          <a routerLink="" fragment="faq">FAQ</a>
        </div>
      </div>



      <div class="footer-social">
        <a href="javascript:;"><img src="../../../assets/images/XLogo.svg" alt="" srcset=""
            style="width: 33px;height: 34px;"> </a>
        <a href="javascript:;"><img src="../../../assets/images/instaLogo.svg" alt="" srcset=""
            style="width: 34px;height: 34px;"> </a>
        <a href="javascript:;"><img src="../../../assets/images/FBLogo.svg" alt="" srcset=""
            style="width: 17px;height: 34px;"> </a>
        <a href="javascript:;"><img src="../../../assets/images/LDLogo.svg" alt="" srcset=""
            style="width: 34px;height: 34px;"> </a>
        <a href="javascript:;"><img src="../../../assets/images/YTLogo.svg" alt="" srcset=""
            style="width: 48px;height: 34px;"> </a>

      </div>
    </div>

    <div class="footer-bottom">
      © Truswitch 2024
    </div>
  </footer>


</div>



<!-- Modal Popup -->
<div class="modal fade" id="joinModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Join now</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md-4">
              <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" placeholder="Name">
              </div>
              <div class="mb-3">
                <label class="form-label">Email ID</label>
                <input type="email" class="form-control" placeholder="Email ID">
              </div>
              <div class="mb-3">
                <label class="form-label">Mobile number</label>
                <input type="tel" class="form-control" placeholder="Mobile number">
              </div>
              <div class="mb-3">
                <label class="form-label">Remarks</label>
                <input type="text" class="form-control" placeholder="Remarks">
              </div>

            </div>
            <div class="col-md-7">
              <div class="mb-3">
                <label class="form-label">Building/Society</label>
                <input type="text" class="form-control w-75" placeholder="Building">
              </div>
              <div class="mb-3">
                <label class="form-label">Address</label>
                <input type="text" class="form-control" placeholder="Address">
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="form-label">City</label>
                    <input type="text" class="form-control" placeholder="City">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="form-label">State</label>
                    <input type="text" class="form-control" placeholder="State">
                  </div>
                </div>

              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-submit">Submit</button>
      </div>
    </div>
  </div>
</div>


<!-- Buy Now Modal -->
<div class="modal fade" id="buyNowModal" tabindex="-1" aria-labelledby="buyNowModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Buy now</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>



      <div class="form-wrapper my-3">
        <form>
          <!-- Number of Devices -->
          <div class="row mb-3 align-items-center">
            <div class="col">
              <label for="devices" class="form-label">Number of devices</label>
            </div>
            <div class="col-auto">
              <input type="number" id="devices" class="form-control text-center" value="1" min="0" />
            </div>
          </div>

          <!-- Installation Needed -->
          <div class="row mb-3 align-items-center">
            <div class="col">
              <label class="form-label">Is installation needed?</label>
            </div>
            <div class="col-auto" style="margin-right: -90px;">
              <div class="form-check form-check-inline">

                <input type="radio" name="install" id="installYes" value="yes" checked class="form-check-input">
                <label class="form-check-label" for="installYes">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input type="radio" name="install" id="installNo" value="no" class="form-check-input">
                <label class="form-check-label" for="installNo">No</label>
              </div>
            </div>
          </div>

          <!-- Subscription -->
          <div class="row mb-4 align-items-center">
            <div class="col">
              <label for="subscriptions" class="form-label">Subscription</label>
            </div>
            <div class="col-auto">
              <input type="number" id="subscriptions" class="form-control text-center" value="1" min="0"
                style="position: relative;right: 55px;" />
            </div>
          </div>

          <!-- Total Cost -->
          <div class="mb-4 ">
            <p class="buyNowModal-text">Total cost: ₹ <span id="totalCost">1,700</span> </p>
          </div>

          <!-- Submit Button -->
          <div class="text-end">
            <button type="submit" class="btn btn-submit px-4">Submit</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>